#gallery, #image {
  width: 100%;
  text-align: center;
}

#gallery a {
  text-decoration: none;
}

.gallery-item {
  background-color: #2ECC71;
  color: #000000;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.gallery-item-big {
  background-color: #2ECC71;
  color: #000000;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  max-width: 800px;
  max-height: 600px;
}

.gallery-item:hover {
  background-color: #ACF5A8;
}

.gallery-item-name {
  text-align: center;
  font-size: 24px;
  font-style: oblique;
}

.gallery-item-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gallery-item-image img {
    display: block;
    margin: auto;
    width: auto;
    height: 145px;
    max-width: 100%;
    max-height: 100%;
}

.gallery-item-image-big img {
    display: block;
    margin: auto;
    width: auto;
    height: 460px;
    max-width: 100%;
    max-height: 100%;
}

.gallery-item:hover img {
  opacity: 0.8;
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Arial", Helvetica, sans-serif;
}

.content {
  padding: 10px;
}

.menu {
  background-color: #2ECC71;
  height: 48px;
  width: 100%
}

.menu a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  float: left;
  margin: 4px;
}

.menu a.selected {
  background-color: #91F38C;
  border-radius: 5px;
}

.menu a.right {
  float: right;
}

.menu a:hover {
  background-color: #ACF5A8;
  border-radius: 5px;
}

.page-thingy {
  width: 100%;
  text-align: center;
  display: block;
}

.page-thingy a {
  color: #000000;
  margin: auto;
  text-align: center;
  background-color: #2ECC71;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
}

.page-thingy a.selected {
  background-color: #91F38C;
  border-radius: 5px;
}

.page-thingy a:hover {
  background-color: #ACF5A8;
  border-radius: 5px;
}

label {
  display: block;
}
